<div class="wrapper">
  <header class="form-header">
    <h2>Sign in via magic link with your email below</h2>
  </header>

  <form
    ngNativeValidate
    class="passwordless-form"
    [formGroup]="emailForm"
    (ngSubmit)="onSendMagicLink()"
  >
    <mat-form-field appearance="outline" hideRequiredMarker floatLabel="always">
      <mat-label>Enter your email</mat-label>
      <input
        type="email"
        name="email"
        autocomplete="email"
        matInput
        formControlName="email"
        required
      />
    </mat-form-field>

    <button
      type="submit"
      class="email-link-btn"
      mat-flat-button
      [disabled]="loading()"
    >
      {{ loading() ? "Loading" : "Send magic link" }}
    </button>
  </form>
</div>
