/* You can add global styles to this file, and also import other style files */

@use "@angular/material" as mat;
@use "./assets/m3-theme-colors"; /* location of generated file */

@import url("material-icons/iconfont/material-icons.css");

@font-face {
  font-display: swap;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  src: url("./assets/fonts/roboto-v47-latin-ext-300.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/roboto-v47-latin-ext-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/roboto-v47-latin-ext-500.woff2") format("woff2");
}

html {
  color-scheme: light dark;

  @include mat.theme(
    (
      color: (
        primary: m3-theme-colors.$primary-palette,
        tertiary: m3-theme-colors.$tertiary-palette,
      ),
      typography: Roboto,
    )
  );
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
}

img {
  display: block;
  max-width: 100%;
}

.error-btn {
  @include mat.button-overrides(
    (
      filled-container-color: var(--mat-sys-error),
      filled-label-text-color: var(--mat-sys-on-error),
    )
  );
}

// Remove sidenav scrollbar
.mat-drawer-inner-container {
  scrollbar-width: none;
}

// Vertical centering fix
.room-nav-list-item {
  @include mat.list-overrides(
    (
      list-item-two-line-container-height: auto,
    )
  );
}
